.button{
    display: block;
    border: none;
    width: 248px;
    height: 60px;
    cursor: pointer;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 600;
    background: #FE724C;
    color: white;
    text-transform: uppercase
}

.button-small{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    height: 44px;
    width: 141px;
}