.button{
    display: flex;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    background: #FE724C;
    color: white;
    transition: all .3s ease;
    border: 2px solid #FE724C;
    height: 44px;
    width: 141px;
}

.button:hover{
    background: none;
    color: #FE724C;
}

.button-small{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    height: 44px;
    width: 141px;
}

.button-big{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    width: 248px;
    height: 60px;
}