*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #FE724C;
  --white-color: #fff;
  --text-color:  #000;
  --text-secondary-color: #5B5B5E;
  --separator-color: #D4D6E0;
}

a{
  text-decoration: none;
  color: inherit;
}

body{
  font-family: 'Open Sans';
}